# Aula 04

Começamos com a importação das bibliotecas que serão usadas no projeto.

In [1]:
import pandas as pd

Agora podemos acessar um conjunto de dados que está em um link.

In [3]:
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv" #titanic data set

data = pd.read_csv(url)

Perceba que criamos uma variável chamada data. Vamos olhar com mais cuidado para ela ...

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    object
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB

Visualizar os dados que estão no início e fim do conjunto dos dados

Para obter mais detalhes sobre a variável criada vamos usar a função type:

E o método info que faz parte do pandas

## Filtrando por atributos